body {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

/* Index content */
/* Header index */

.header-bar {
  background-color: #293449;
}

.search-field {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.bar-btn {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-content {
  background-color: #f4f7f9;
}

.header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contacts-tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block li {
  list-style: none;
}

.user-block-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.nav {
  background-color: #32425c;
}

.nav-list li {
  list-style: none;
}

.nav-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

/* Main index */

.visually-hidden {
  display: none;
}

/* Company block index */

.company-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.company-list {
  list-style: none;
}

.company-item {
  font-size: 18px;
  line-height: 20px;
}

/* Footer index */

.footer-content {
  background-color: #32425c;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-list-1 {
  list-style: none;
}

.footer-link-1 {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-list-2 {
  list-style: none;
}

.footer-link-2 {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bar {
  color: #ffffff;
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.socials {
  list-style: none;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
}

.feedback-mail {
  color: #ffd180;
}

.developer {
  font-size: 16px;
  line-height: 18px;
}

.developer-link {
  color: #ffd180;
}

/* Catalog content */
/* Header catalog */

.user-block-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-block-bottom {
  list-style: none;
}

.user-block-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

/* Main catalog */

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.page-header {
  background-color: #f2f6f8;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter-title-header {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-brands-list {
  list-style: none;
}

.filter-brands-item {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-supply-list {
  list-style: none;
}

.filter-supply-item {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-products {
  list-style: none;
}

.product-card {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
}

.product-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

.product-card-discount {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.product-card-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  
}