body {
  min-width: 940;
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

/* Index content */

/* Header index */

.header-bar {
  background-color: #293449;
}

.header-bar-flex {
  width: 940px;
  min-height: 42px;
  margin: auto;
  display: flex;
}

.logo {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee3643;
  /* box-shadow: inset 0px -5px #b52933; */
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  width: 270px;
  min-height: 42px;
  position: relative;
}

.search::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 16px;
  background-image: url("/img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search:hover::before {
  opacity: 1;
}

.search:active::before {
  ?
}

.search-field {
  width: 270px;
  padding: 12px 0 12px 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:focus {
  background-color: #ffffff;
  color: #000000;
}

.bar-btn {
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-bookmark,
.bar-cart {
  width: 140px;
  padding-left: 10px;
  position: relative;
}

.bar-bookmark:hover,
.bar-cart:hover {
  background-color: #212a3a;
}

.bar-bookmark:active,
.bar-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.bar-bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url("/img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bar-bookmark:hover::before {
  opacity: 1;
}

.bar-bookmark:active:before {
  opacity: 0.3;
}

.bar-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url("/img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bar-cart:hover::before {
  opacity: 1;
}

.bar-cart:active:before {
  opacity: 0.3;
}

.bar-order {
  background-color: #63a63e;
}

.bar-order:hover {
  background-color: #5fbb2d;
}

.bar-order:active {
  background-color: #518534;
}

.user-block,
.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-container {
  margin-bottom: 59px;
  padding: 46px 0 60px;
  min-height: 172px;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  margin-bottom: 38px;
  width: 940px;

  display: flex;
}

.header-text {
  width: 196px;
  min-height: 60px;
  margin: 0 65px 0 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  margin: 0 69px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-tel {
  min-height: 39px;

  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel {
  position: relative;
  width: 144px;
  padding: 13px 51px 11px 74px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.tel::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 13px;
  left: 15px;
  background-image: url("/img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  display: flex;
}

.user-block-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-block-login {
  position: relative;
  padding: 12px 27px 12px 48px;
}

.user-block-login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background-image: url("/img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block-login:hover {
  color: #ee3643;
}

.user-block-login:hover::before {
  color: #000;
}

.user-block-sing-up {
  padding: 13px 25px 11px 25px;
  margin-left: 10px;
}

.nav-container {
  width: 940px;
  background-color: #32425c;
}

.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  align-self: center;
  box-shadow: inset 0px -5px 0 0 #293449; 
}

.nav-link {
  padding: 21px 30px;
  display: flex;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #293449;
}

.nav-link:active {
  color: #f1f5f7;
  background-color: #1d2739;
} 

/* Main index */

.visually-hidden {
  display: none;
}

/* Promo block index */

.promo-block-container {
  width: 940px;
  min-height: 409;
  margin: auto;
  margin-bottom: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-block-1 {
  display: flex;
  flex-direction: column;
}

.promo-block-list-1 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.promo-block-item-1 {
  width: 300px;
}

.promo-block-item-1 h3,
.promo-block-item-2 h3 {
  margin: 18px 0 15px 23px;  
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-btn {
  width: 135px;
  padding: 10px 0;
  margin: 0 0 22px 25px;  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  display: inline-block;
}

.promo-btn:hover {
  background: rgba(0,0,0,0.2);
}

.promo-btn:active {
  background: rgba(0,0,0,0.3);
}

.materials {
  background-color: #ffbf47;
  margin-right: 20px;
  position: relative;
}

.materials::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0px;
  background-image: url("/img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.materials::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  bottom: 27px;
  right: 43px;
  background-image: url("/img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.instruments {
  background-color: #3bbce3;
  position: relative;
}

.instruments::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  bottom: 29px;
  right: 28px;
  background-image: url("/img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-block-slider {
  width: 620px;
  display: flex;
  position: relative;
}

.promo-block-slider::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  left: 24px;
  background-image: url("/img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-block-slider::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  right: 24px;
  background-image: url("/img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-block-slider-1 {
  width: 620px;
  min-height: 266px;
  background: url("/img/slider-1.jpg") no-repeat;
}

.promo-block-slider-1 h3,
.promo-block-slider-2 h3 {
  margin: 24px 0 8px 24px;
  font-size: 35px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-block-slider-1 p,
.promo-block-slider-2 p {
  margin: 0 0 0 25px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.btn-slider-1 {
  display: inline-block;
  margin: 120px 0 22px 25px;
  padding: 10px 46px;
}

.btn-slider-1:hover {
  background-color: #ca2c37;
}

.btn-slider-1:active {
  background-color: #ba2732;
}

.promo-block-2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  
}

.promo-block-list-2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.promo-block-item-2 {
  width: 300px;
}

.technics {
  margin-bottom: 20px;
  background-color: #dc91d8;
  position: relative;
}

.technics::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  bottom: 30px;
  right: 31px;
  background-image: url("/img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discounts {
  margin-bottom: 20px;
  background-color: #8ed78f;
  position: relative;
}

.discounts::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  bottom: 25px;
  right: 45px;
  background-image: url("/img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
 background-color: #ffc047;
 position: relative;
}

.delivery::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  bottom: 28px;
  right: 31px;
  background-image: url("/img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Products block index */

.products {
  width: 940px;
  margin: auto;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
}

.popular-title-container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular-title {
  margin: 0;
  margin: 30px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-btn {
  width: 253px;
  margin: 26px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.popular-btn:hover {
  background-color: #ca2c37;
}

.popular-btn:active {
  background-color: #ba2732;
}

.products-catalog {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.product-card {
  margin-top: 20px;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.new-product::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 160px;
  background-image: url("/img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-card .product-card-actions {
  display: none;
}

.product-card:hover .product-card-actions {
  display: block;
}

.product-card-actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-buy {
  display: block;
  position: relative;
  width: 134px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 10px 0 10px 2px;

  
  background-color: #63a63e;

  border-bottom-color: #367315;
  border-radius:3px;
  box-shadow: inset 0px -3px 0 0 #367315;;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.product-buy:hover {
  background-color: #5fbb2d;
}

.product-buy:hover::before {
  opacity: 1;
}

.product-buy:active {
  background-color: #518534;
}

.product-buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("/img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.product-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-bookmark:hover {
  border-color: #32425c;
}

.product-bookmark:active {
  opacity: 0.3;
}

.product-card-title {
  margin: 6px 0 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.uppercase-bosch {
  text-transform: uppercase;
}

.product-card-discount {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.product-card-price {
  min-height: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 25px 10px 35px;
  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-card-price::after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.new-price {
  margin-bottom: 32px;
}

/* Brands block index */

.brands {
  width: 940px;
  margin: auto;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
}

.brands-1 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.brands-1 li {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-1 li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-1 li:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.brands-2 {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
} 

.brands-2 li {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-2 li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-2 li:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* Service block index */

.service {
  background-color: #f4f7f9;
}

.service-container {
  width: 940px;
  min-height: 522px;
  margin: auto;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
}

.service h2 {
  margin: 0;
  margin-top: 68px;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  margin-bottom: 70px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.service-content {
  display: flex;
}

.service-list {
  width: 240px;
  margin: 0;
  margin-right: 80px;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.service-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -50px;
  left: 230px;
  background-image: url("/img/service-list-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-item {
  width: 220px;
  padding: 16px 0 16px 20px;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #ffffff;
}

.service-item:hover {
  background-color: #293449;
}

.service-item:active {
  background-color: #ffffff;
  color: #32425c;
}

.service-list-content {
  position: relative;
}

.service-list-content h3 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
}

.service-list-content p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.service-list-content::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 20px;
  left: 150px;
  background-image: url("/img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Company block index */

.company {
  width: 940px;
  margin: auto;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
}

.company-col-1 {
  width: 519px;
}

.company-col-2 {
  width: 300px;
}

.company-title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.company-text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.company-list {
  margin: 0;
  margin-bottom: 14px;
  padding-left: 36px;
  list-style: none;
}

.company-item {
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

.company-item::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company-info-btn {
  /* width: 220px; */
  display: inline-block;
  padding: 12px 40px;
}

.company-info-btn:hover {
 background-color: #ca2c37;
}

.company-info-btn:active {
  background-color: #ba2732;
}

.open-modal-btn {
  display: inline-block;
  padding: 12px 61px;
  margin-top: 42px;
}

.open-modal-btn:hover {
  background-color: #ca2c37;
}
 
.open-modal-btn:active {
  background-color: #ba2732;
}

/* Footer index */

.footer-content {
  background-color: #32425c;
}

.footer-content-container {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.footer-content-1 {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 220px;
  padding: 18px 0 15px 0;
  font-size: 30px;
  line-height: 30px;
}

.footer-contacts {
  width: 325px;
  margin: 0;
  margin-top: 32px;
}

.footer-adress,
.footer-tel {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-content-2 {
  width: 547px;
  display: flex;
  flex-direction: column;
  
}

.footer-list-1,
.footer-list-2 {
  padding: 0;
}

.footer-list-1 {
  margin: 0;
  margin-top: 39px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-link-1 {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-list-2 {
  width: 524px;
  margin: 0;
  margin-top: 24px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.footer-link-2 {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-link-1:hover,
.footer-link-2:hover {
  text-decoration: underline;
} 

.footer-link-1:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-link-2:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bar {
  
  color: #ffffff;
  background-color: #293449;
}

.footer-bar-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-bar-col {
  width: 228px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.socials {
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 42px;
  min-height: 42px;
  font-size: 0;
  text-align: center;
  background-color: #212a3a;
  border-radius: 50%;
  list-style: none;
}

.socials-vk,
.socials-facebook,
.socials-instagram {
  position: relative;
}

.socials-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 15px;
  left: -13px;
  background-image: url("/img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-facebook::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 11px;
  left: -7px;
  background-image: url("/img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-instagram::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 11px;
  left: -10px;
  background-image: url("/img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-item:hover {
 background-color: #ee3643;
}

.feedback {
  width: 135px;
  font-size: 16px;
  line-height: 18px;
}

.feedback-mail {
  color: #ffd180;
}

.feedback-mail:hover {
  text-decoration: underline;
}

.feedback-mail:active {
  color: #ee3643;
  text-decoration: none;
}

.developer {
  width: 96px;
  font-size: 16px;
  line-height: 18px;
}

.developer-link {
  color: #ffd180;
}

.developer-link:hover {
  text-decoration: underline;
}

.developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Catalog content */

/* Header catalog */

.header-container-catalog {
  margin: 0;
}

.catalog-cart {
  background-color: #ee3643;
}

.catalog-cart:hover {
  background-color: #ca2c37;
}

.catalog-cart:active {
  background-color: #ba2732;
}

.user-block-col {
  display: flex;
  flex-direction: column;
}

.user-block-name {
  width: 190px;
  padding: 14px 66px 11px 44px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.user-block-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  left: 13px;
  background-image: url("/img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block-name::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  right: 10px;
  background-image: url("/img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block-bottom {
  padding-left: 2px;
  margin-top: 10px;
  display: flex;
  list-style: none;
}

.user-block-link {
  padding: 0 15px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  position: relative;
}

.user-block-link:hover {
  color: #ee3643;
}

.user-block-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-block-link:first-child::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  top: 8px;
  right: -2px;
  background-color: #32425c;
  border-radius: 50%;
} 

/* Main catalog */

.breadcrumbs {
  width: 914px;
  min-height: 60px;
  margin: auto;
  padding: 0;
  padding-left: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 14px;
  height: 12px;
  background-image: url("/img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item-link {
  padding-left: 20px;
  margin: 10px;
  color: #000000;
  align-self: center;
  position: relative;
}

.breadcrumbs-item-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -4px;
  width: 8px;
  height: 12px;
  background-image: url("/img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header {
  width: 910px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 28px 0 32px 26px;
  background-color: #f2f6f8;
}

.page-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-main-container {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.filter-title-header {
  width: 202px;
  padding: 10px 0 11px 18px;
  margin-bottom: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  display: inline-block;
}

.filter-item {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  border: none;
  position: relative;
}

.filter-item:nth-of-type(1)::after,
.filter-item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  bottom: -26px;
  background-color: #e5e5e5;
}

.range-filter {
  width: 220px;
}


.filter-item legend {
  margin: 0;
  margin-bottom: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 17px;
  text-transform: uppercase;
}

.price-controls input {
  width: 75px;
  padding: 9px 0 10px 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.min-price {
  position: relative;
}

.min-price::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 19px;
  right: -5px;
  background-color: #444444;
}

.max-price {
  text-align: right;
}

.filter-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 35px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-option:last-of-type {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -30px;
  width: 12px;
  height: 12px;
  background-color: #c5c5c5;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: 0;
  width: 16px;
  height: 16px;
  
  border: 3px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: -27px;
  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-form-btn {
  margin-top: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding: 9px 38px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog {
  width: 700px;
}

.sorting {
  width: 700px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  background-color: #f7f3ec;
}

.sorting span {
  /* margin-right: 139px; */
  margin: 10px 139px 11px 19px;
  background-color: #f7f3ec;
  display: inline-block;
}

.sorting-list {
  padding: 0;
  margin: 0;
  margin: 10px 0 10px;
  display: flex;
  list-style: none;
}

.sorting-item a {
  margin-right: 70px;
  color: rgba(0, 0, 0, 0.3);
  
}

.sorting-item:nth-child(3) a {
  margin-right: 82px;
  padding-right: 0;
}

.sorting-item:nth-child(2) a,
.sorting-item:nth-child(3) a {
  border-bottom: 1px dotted #ee3643;
}

.sorting-item-current a {
  color: #ee3643;
}

.sorting-item:hover a {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item:active a {
  color: #ee3643;
  border-bottom: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding: 9px 16px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:hover a {
  border-color: #bdc6ca;
}

.pagination-item:active a {
  border-color: #ee3643;
}

.pagination-item:last-child a {
  padding: 9px 37px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}


.catalog-info {
  min-height: 261px;
  background-color: #f4f7f9;
}

.catalog-info-container {
  width: 940px;
  min-height: 121px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.catalog-info-title {
  margin: 0;
  margin: 65px 0 12px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-info-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}
