body {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

/* Index content */
/* Header index */

.header {

}

.header-bar {
  background-color: #293449;
}

.header-bar-flex {
  width: 940px;
  height: 43px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #293449;
}

.logo {
  width: 220px;
  text-align: center;
  padding: 11px 0 7px 0;
  line-height: 24px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px #b52933;
  
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search-field {
  width: 270px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.search-field:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.search-field:focus {
  background-color: #ffffff;
}

.bar-btn {
  width: 150px;
  height: 42px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: #293449;
  
}

.bar-bookmark,
.bar-cart {
  padding-left: 20px;
}
  

.bar-bookmark:hover,
.bar-cart:hover {
  background-color: #212a3a;
}

.bar-bookmark:active,
.bar-cart:active {
  background-color: #161d29;
}

.bar-order {
  background-color: #63a63e;
}

.bar-order:hover {
  background-color: #5fbb2d;
}

.bar-order:active {
  background-color: #518534;
}

.header-content {
  
}

.header-container-content {
  height: 158px;
  display: flex;
  margin: auto;
  background-color: #f4f7f9;
}

.header-text {
  width: 196px;
  height: 60px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contacts-tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block li {
  list-style: none;
}

.user-block-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-block-btn:hover {
  color: #ee3643;
}

.user-block-btn:active {
  color: rgba(50, 66, 92, 0.3);
}

.nav-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  height: 120px;
  background-color: #f4f7f9;
}

.nav {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  width: 940px;
  height: 60px;
  margin: 0 auto;
  background-color: #32425c;

}

.nav-list li {
  list-style: none;
}

.nav-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #293449;
}

.nav-link:active {
  color: #f1f5f7;
  background-color: #1d2739;
}

/* Main index */

.visually-hidden {
  display: none;
}

/* Company block index */

.company-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.company-text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.company-list {
  list-style: none;
}

.company-item {
  font-size: 18px;
  line-height: 20px;
}

.company-info-btn:hover {
 background-color: #ca2c37;
}

.company-info-btn:active {
  background-color: #ba2732;
}

.open-modal-btn:hover {
  background-color: #ca2c37;
}
 
.open-modal-btn:active {
  background-color: #ba2732;
}

/* Footer index */

.footer-content {
  display: flex;
  background-color: #32425c;
}

.footer-logo {
  float: none;
  width: 220px;
  padding: 18px 0 15px 0;
  font-size: 30px;
  line-height: 30px;
}

.footer-contacts,
.footer-tel {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-list-1 {
  list-style: none;
}

.footer-link-1 {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-list-2 {
  list-style: none;
}

.footer-link-2 {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-link-1:hover,
.footer-link-2:hover {
  text-decoration: underline;
} 

.footer-link-1:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-link-2:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bar {
  display: flex;
  color: #ffffff;
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
}

.socials-item {
  width: 42px;
  height: 42px;
  font-size: 0;
  text-align: center;
  background-color: #212a3a;
  border-radius: 50%;
  list-style: none;
  
}

.socials-item:hover {
 background-color: #ee3643;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
}

.feedback-mail {
  color: #ffd180;
}

.feedback-mail:hover {
  text-decoration: underline;
}

.feedback-mail:active {
  color: #ee3643;
  text-decoration: none;
}

.developer {
  font-size: 16px;
  line-height: 18px;
}

.developer-link {
  color: #ffd180;
}

.developer-link:hover {
  text-decoration: underline;
}

.developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Catalog content */
/* Header catalog */

.catalog-cart {
  background-color: #ee3643;
}

.user-block-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-block-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-bottom {
  list-style: none;
}

.user-block-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-block-link:hover {
  color: #ee3643;
}

.user-block-link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Main catalog */

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  
}

.breadcrumbs-item-link {
  color: #000000;
}

.page-header {
  background-color: #f2f6f8;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter-title-header {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.filter-title {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-brands-list {
  list-style: none;
}

.filter-brands-item {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter-supply-list {
  list-style: none;
  
}

.filter-supply-item {
  padding: 0px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-products {
  list-style: none;
}

.product-card {
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
}

.product-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.product-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
}

.product-card-discount {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #999999;
  text-decoration: line-through;
}

.product-card-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  
}

.product-card-actions-buy {
  color: #ffffff;
  background-color: #63a63e;
}

.product-card-actions-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-paginator {
  list-style: none;
}
